.center {
    text-align: center;
}

img {
    width: 200px;
    background-color: paleturquoise;
    border: .5px solid black;
    box-shadow:  inset 2px 2px lightslategray, inset -2px -2px lightslategray;
}

h4 {
    text-align: center;
}

ul {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    display: inline-flex;
    margin: 0px 4px 0px 4px;
}

span {
    display: inline-block;
}

.stats {
    margin: 0px 4px 0px 4px;
}

.card {
    padding: 1px;
    border: 1px solid black;
    margin: 0px 2px 0px 2px;
    color:seashell;
    font-size: medium;
    font-weight: bold;
}

table {
    display: inline;
    border-collapse: collapse;
    margin: 5px 3px 2px 3px;
}

tr, td, th {
    border: 1px solid black;
}

th {
    text-align: center;
    background-color: lightsteelblue;
}

tr:nth-child(2n) {
    background-color: paleturquoise;
}

tr:nth-child(2n+1) {
    background-color: palegreen;
}

/* Pokemon Type Card Styling */
.normal{background-color: darkgray;}
.fire{background-color: orangered;}
.water{background-color: rgb(27, 145, 255);}
.grass{background-color: darkseagreen;}
.electric{background-color: gold;}
.ice{background-color: lightskyblue;}
.fighting{background-color: rgba(165, 42, 42, 0.877);}
.poison{background-color: darkmagenta;}
.ground{background-color: burlywood;}
.flying{background-color: rgba(88, 208, 255, 0.479);}
.psychic{background-color: plum;}
.bug{background-color: darkgoldenrod;}
.rock{background-color: sienna;}
.ghost{background-color: slateblue;}
.dark{background-color: rgb(35, 58, 58);}
.dragon{background-color: blue;}
.steel{background-color:rgb(215,217,217);}
.fairy{background-color: lightpink;}