<div class="center">
  <h1>{{ pokemonInfo.name | titlecase }}</h1>
  <div>
    <span *ngFor="let type of pokemonInfo.types">
      <p class="card {{type.type.name}}">{{ type.type.name | uppercase }}</p>
    </span>
</div>
<br />
  <img
    [src]="pokemonInfo.sprites.front_default"
    [alt]="pokemonInfo.name | titlecase"
  />
  <div>
  <table>
    <thead>
      <tr><th colspan="2">Info</th></tr>
    </thead>
    <tbody>
      <tr><td>Height:</td><td>{{pokemonInfo.height}}</td></tr>
      <tr><td>Weight:</td><td>{{pokemonInfo.weight}}</td></tr>
      <tr><td>Base Expereince:</td><td>{{pokemonInfo.base_experience}}</td></tr>
    </tbody>
  </table>
    <table>
      <thead>
        <tr><th colspan="2">Stats</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of pokemonInfo.stats">
          <td>{{ stat.stat.name | titlecase }}:</td><td>{{ stat.base_stat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <div>
    <h4>Abilities</h4>
    <ul>
      <li *ngFor="let a of pokemonInfo.abilities">
        <abilities-list [name]="a.ability.name"></abilities-list>
      </li>
    </ul>
  </div>
</div>
